<div class='person-view'>
  <div class="app-person-profile-header">
    <div class="app-person-profile-photo" style="background-image: url(avatar.png)"></div>
    <h2>{{person.name}}</h2>
    <div class="app-person-profile-department">
        {{person.name}}
    </div>
    <div class="app-person-profile-phone-number">
        {{person.phone}}
    </div>
    <div class="app-person-profile-email">
        <a ng-href="mailto:{{person.email}}">{{person.email}}</a>
    </div>
</div>
  <h2>
  <div class=
</div>

